CarePackage_WebClient/src/conf/xml-resources/web-service-references/Care_WS/wsdl/localhost_8080/Care_WS/Care_WS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Care.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Care.me.org/" name="Care_WS">
<types>
<xsd:schema>
<xsd:import namespace="http://Care.me.org/" schemaLocation="http://localhost:8080/Care_WS/Care_WS?xsd=1"/>
</xsd:schema>
</types>
<message name="donate">
<part name="parameters" element="tns:donate"/>
</message>
<message name="donateResponse">
<part name="parameters" element="tns:donateResponse"/>
</message>
<message name="saveDonate">
<part name="parameters" element="tns:saveDonate"/>
</message>
<message name="saveDonateResponse">
<part name="parameters" element="tns:saveDonateResponse"/>
</message>
<message name="retrieveRescue">
<part name="parameters" element="tns:retrieveRescue"/>
</message>
<message name="retrieveRescueResponse">
<part name="parameters" element="tns:retrieveRescueResponse"/>
</message>
<message name="retrieveDonation">
<part name="parameters" element="tns:retrieveDonation"/>
</message>
<message name="retrieveDonationResponse">
<part name="parameters" element="tns:retrieveDonationResponse"/>
</message>
<message name="purchase">
<part name="parameters" element="tns:purchase"/>
</message>
<message name="purchaseResponse">
<part name="parameters" element="tns:purchaseResponse"/>
</message>
<message name="rescue">
<part name="parameters" element="tns:rescue"/>
</message>
<message name="rescueResponse">
<part name="parameters" element="tns:rescueResponse"/>
</message>
<message name="retrievePurchase">
<part name="parameters" element="tns:retrievePurchase"/>
</message>
<message name="retrievePurchaseResponse">
<part name="parameters" element="tns:retrievePurchaseResponse"/>
</message>
<message name="retrievePurchaseSum">
<part name="parameters" element="tns:retrievePurchaseSum"/>
</message>
<message name="retrievePurchaseSumResponse">
<part name="parameters" element="tns:retrievePurchaseSumResponse"/>
</message>
<message name="retrieveVolunteer">
<part name="parameters" element="tns:retrieveVolunteer"/>
</message>
<message name="retrieveVolunteerResponse">
<part name="parameters" element="tns:retrieveVolunteerResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="volunteer">
<part name="parameters" element="tns:volunteer"/>
</message>
<message name="volunteerResponse">
<part name="parameters" element="tns:volunteerResponse"/>
</message>
<portType name="Care_WS">
<operation name="donate">
<input wsam:Action="http://Care.me.org/Care_WS/donateRequest" message="tns:donate"/>
<output wsam:Action="http://Care.me.org/Care_WS/donateResponse" message="tns:donateResponse"/>
</operation>
<operation name="saveDonate">
<input wsam:Action="http://Care.me.org/Care_WS/saveDonateRequest" message="tns:saveDonate"/>
<output wsam:Action="http://Care.me.org/Care_WS/saveDonateResponse" message="tns:saveDonateResponse"/>
</operation>
<operation name="retrieveRescue">
<input wsam:Action="http://Care.me.org/Care_WS/retrieveRescueRequest" message="tns:retrieveRescue"/>
<output wsam:Action="http://Care.me.org/Care_WS/retrieveRescueResponse" message="tns:retrieveRescueResponse"/>
</operation>
<operation name="retrieveDonation">
<input wsam:Action="http://Care.me.org/Care_WS/retrieveDonationRequest" message="tns:retrieveDonation"/>
<output wsam:Action="http://Care.me.org/Care_WS/retrieveDonationResponse" message="tns:retrieveDonationResponse"/>
</operation>
<operation name="purchase">
<input wsam:Action="http://Care.me.org/Care_WS/purchaseRequest" message="tns:purchase"/>
<output wsam:Action="http://Care.me.org/Care_WS/purchaseResponse" message="tns:purchaseResponse"/>
</operation>
<operation name="rescue">
<input wsam:Action="http://Care.me.org/Care_WS/rescueRequest" message="tns:rescue"/>
<output wsam:Action="http://Care.me.org/Care_WS/rescueResponse" message="tns:rescueResponse"/>
</operation>
<operation name="retrievePurchase">
<input wsam:Action="http://Care.me.org/Care_WS/retrievePurchaseRequest" message="tns:retrievePurchase"/>
<output wsam:Action="http://Care.me.org/Care_WS/retrievePurchaseResponse" message="tns:retrievePurchaseResponse"/>
</operation>
<operation name="retrievePurchaseSum">
<input wsam:Action="http://Care.me.org/Care_WS/retrievePurchaseSumRequest" message="tns:retrievePurchaseSum"/>
<output wsam:Action="http://Care.me.org/Care_WS/retrievePurchaseSumResponse" message="tns:retrievePurchaseSumResponse"/>
</operation>
<operation name="retrieveVolunteer">
<input wsam:Action="http://Care.me.org/Care_WS/retrieveVolunteerRequest" message="tns:retrieveVolunteer"/>
<output wsam:Action="http://Care.me.org/Care_WS/retrieveVolunteerResponse" message="tns:retrieveVolunteerResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://Care.me.org/Care_WS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://Care.me.org/Care_WS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="volunteer">
<input wsam:Action="http://Care.me.org/Care_WS/volunteerRequest" message="tns:volunteer"/>
<output wsam:Action="http://Care.me.org/Care_WS/volunteerResponse" message="tns:volunteerResponse"/>
</operation>
</portType>
<binding name="Care_WSPortBinding" type="tns:Care_WS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="donate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveDonate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveRescue">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveDonation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="purchase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="rescue">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrievePurchase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrievePurchaseSum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveVolunteer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="volunteer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Care_WS">
<port name="Care_WSPort" binding="tns:Care_WSPortBinding">
<soap:address location="http://localhost:8080/Care_WS/Care_WS"/>
</port>
</service>
</definitions>