CarePackage_WebBranch/src/conf/xml-resources/web-service-references/Care_WS/wsdl/localhost_8080/Care_WS/Care_WS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Care.me.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Care.me.org/">

<xs:element name="donate" type="tns:donate"/>

<xs:element name="donateResponse" type="tns:donateResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="payment" type="tns:payment"/>

<xs:element name="paymentResponse" type="tns:paymentResponse"/>

<xs:element name="purchase" type="tns:purchase"/>

<xs:element name="purchaseResponse" type="tns:purchaseResponse"/>

<xs:element name="register" type="tns:register"/>

<xs:element name="registerResponse" type="tns:registerResponse"/>

<xs:element name="rescue" type="tns:rescue"/>

<xs:element name="rescueResponse" type="tns:rescueResponse"/>

<xs:element name="retrieveDonation" type="tns:retrieveDonation"/>

<xs:element name="retrieveDonationResponse" type="tns:retrieveDonationResponse"/>

<xs:element name="retrievePurchase" type="tns:retrievePurchase"/>

<xs:element name="retrievePurchaseResponse" type="tns:retrievePurchaseResponse"/>

<xs:element name="retrievePurchaseSum" type="tns:retrievePurchaseSum"/>

<xs:element name="retrievePurchaseSumResponse" type="tns:retrievePurchaseSumResponse"/>

<xs:element name="retrieveRescue" type="tns:retrieveRescue"/>

<xs:element name="retrieveRescueResponse" type="tns:retrieveRescueResponse"/>

<xs:element name="saveDonate" type="tns:saveDonate"/>

<xs:element name="saveDonateResponse" type="tns:saveDonateResponse"/>

<xs:complexType name="retrievePurchaseSum">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retrievePurchaseSumResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveRescue">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retrieveRescueResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="donate">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="donateResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveDonation">
<xs:sequence>
<xs:element name="site_id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveDonationResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="payment">
<xs:sequence>
<xs:element name="cardName" type="xs:string" minOccurs="0"/>
<xs:element name="cardNumber" type="xs:string" minOccurs="0"/>
<xs:element name="expiration" type="xs:string" minOccurs="0"/>
<xs:element name="ccv" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="paymentResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saveDonate">
<xs:sequence>
<xs:element name="project" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="amount" type="xs:string" minOccurs="0"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saveDonateResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="purchase">
<xs:sequence>
<xs:element name="itemName" type="xs:string" minOccurs="0"/>
<xs:element name="quantity" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:string" minOccurs="0"/>
<xs:element name="discount" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="purchaseResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="register">
<xs:sequence>
<xs:element name="fname" type="xs:string" minOccurs="0"/>
<xs:element name="lname" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="birthday" type="xs:string" minOccurs="0"/>
<xs:element name="contact" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrievePurchase">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retrievePurchaseResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rescue">
<xs:sequence>
<xs:element name="site_id" type="xs:string" minOccurs="0"/>
<xs:element name="evacuee_name" type="xs:string" minOccurs="0"/>
<xs:element name="condition" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rescueResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>